.h1 {
    text-align: center;
    text-decoration: solid;
    color:white;
}
.h2{
    text-align: center;
    background-color: black;
    color: gold;
}
.h22{
    text-align: center;
    border-color: black;
    border-radius: 4px;
    border: 4px;
    font-size: 42px;
    
    
}
.img{
    margin-left: 580px;
}
    a {
        border: solid gold 3px;
        background-color: black;
        color: gold;
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 10px;
        margin: 5px 5px;
        display: block;
        width: 150px;
    
    }
    
    a:hover {
        color: black;
        background-color: gold;
        text-align: right;
    }
    header{
        height: 500px;
        background:  linear-gradient(rgba(0,0,0,.3) , rgba(0, 0, 0, 0.3)) , url(../images/13.jpg) ;
        
        background-position: center;
        background-size: cover;
    }
   
    .h{
        margin-left: 44%;
        color: black;
    }
    .card{
        text-align: center;
        text-decoration: solid;
        margin-left: 75px;
    }
    .card1{
        font-size: xx-large;
        margin-left: 35%;
    }
    .a1{
        margin-left: 17%;
        background-color: rgb(228, 228, 228);
        font-size:  32px;
        margin: 5px, 5px, 5px, 5px;

    }
    .card2{
        margin-left: 35%;
    }
    .card6{
        margin-left: 35%;
        
    }
    .img1{
margin-left: 50px;
height: 100%;
    }
    .img2{
        height: 110%;
margin-left: 150%;

    }
    .p1{
        text-align: justify;
        text-decoration: solid;
        
        font-size: 36px;
        background-color: rgb(228, 228, 228);
    }